h1{
  color: wheat;
  
}
p{
color: wheat;
}
body { margin: 0; min-height: 100vh;
justify-content: center; text-align: center;
   background-color: rgb(0, 0, 0);
  }

.animatedButton { --c: goldenrod; color: var(--c); font-size: 16px;
   border: 0.3em solid var(--c); border-radius: 0.5em; width: 12em; height: 3em;
    text-transform: uppercase; font-weight: bold; font-family: sans-serif;
     letter-spacing: 0.1em; text-align: center; line-height: 3em; position:
      relative; overflow: hidden; z-index: 1; transition: transform 0.5s, color 0.5s; margin: 1em;
     }

.animatedButton:hover { color: black;
   transform: scale(1.2); 
  }

.animatedButton span { transition: transform 0.5s;
   position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%) scale(1); 
  }
  body{
   background-image: url("");
  background-position: center 25%; 
  background-size: cover; 
} 